.calculator-table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 8px;
    border: 5px solid white !important;
  }

.calculator-button {
    font-size: 60px;
    color: ghostwhite !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    transition: 0.5s;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

td.history {
    text-align: end;
    color:rgb(148, 148, 148) !important;
    font-size: 16px;
    padding-bottom: 0;
}

td.display {
    text-align: end;
    color: black !important;
    padding-top: 0;
}

td.number {
    background-color: #7a7a7a !important;
}

td.option {
    color:rgb(29, 29, 29) !important;
    background-color: #cecece !important;
    font-weight: 600;
}

td.operation {
    background-color: rgb(231, 144, 82) !important;
    text-align: center;
    font-weight: 600;
}

td.equals {
    background-color: goldenrod !important;
    text-align: center;
    font-weight: 800;
}

td.hoverable:hover {
    background-color:ghostwhite;
    opacity : 0.6
}

/* Apply a border to the right of all but the last column */
.calculator-table th:not(:last-child),
.calculator-table td:not(:last-child) {
 border-right: 5px solid white;
}

/* Apply a border to the bottom of all but the last row */
.calculator-table>thead>tr:not(:last-child)>th,
.calculator-table>thead>tr:not(:last-child)>td,
.calculator-table>tbody>tr:not(:last-child)>th,
.calculator-table>tbody>tr:not(:last-child)>td,
.calculator-table>tfoot>tr:not(:last-child)>th,
.calculator-table>tfoot>tr:not(:last-child)>td,
.calculator-table>tr:not(:last-child)>td,
.calculator-table>tr:not(:last-child)>th,
.calculator-table>thead:not(:last-child),
.calculator-table>tbody:not(:last-child),
.calculator-table>tfoot:not(:last-child) {
 border-bottom: 5px solid white;
}
