body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Global CSS */
.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Navbar */
.nav-item {
  padding-left: 3rem;
}

.nav-link {
  color: #b5b5b5 !important;
  font-size: larger !important;
  font-weight: 500 !important;
}

/* Background Colors */
.bg-main {
  background-color: white;
}

.bg-alt {
  background-color: gainsboro;
}

.bg-bold {
  background-color: dimgray;
  color:floralwhite;
}