.tile {
    font-size: 80px;
    color: white !important;
    border-bottom-width: 5px!important;
    border-right-width: 5px!important;
    border-color: black !important;

    padding-left: 2rem !important;
    padding-right: 2rem !important;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.tile-end {
    border-right-width: 0 !important;
}

.tile-bottom {
    border-bottom-width: 0 !important;
}

.tile-player-one, .tile-player-two, .draw-text {
    background-color: rgb(131, 7, 7) !important;
    color: white !important;
}

.tile-player-one {
    background-color: rgb(131, 7, 7) !important;
}

.tile-player-two {
    background-color: rgb(26, 26, 190) !important;
}

.draw-text {
    background-color: rgb(59, 59, 59) !important;
}

.winner-text {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.player-winner-text {
    border-radius: 25px;
    padding: 10px;
}
